/* -------------------- */
/* ----- about ----- */
/* -------------------- */
.about {
  position: relative;
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .about {
    margin-bottom: 50px;
  }
}

.about:after {
  position: absolute;
  width: 95%;
  height: 3px;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
  background: #111111;
  content: "";
  z-index: 10;
}

@media (max-width: 576px) {
  .about:after {
    bottom: -50px;
  }
}

.about-ttl {
  margin-left: 30px;
}

@media (max-width: 992px) {
  .about-ttl {
    margin-left: 0;
  }
}

.about-ttl h2 {
  margin: 0;
  color: #5f3b43;
  text-decoration: none;
  font-size: 200px;
  text-shadow: 10px 10px 0 #000;
}

@media (max-width: 992px) {
  .about-ttl h2 {
    font-size: 150px;
  }
}

@media (max-width: 576px) {
  .about-ttl h2 {
    font-size: 100px;
    text-shadow: 5px 5px 0 #000;
  }
}

.about-ttl h2 span {
  position: relative;
  width: 400px;
  top: -100px;
  left: 0;
  font-size: 80px;
  text-shadow: 3px 3px 0 #000;
}

@media (max-width: 992px) {
  .about-ttl h2 span {
    top: -73px;
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .about-ttl h2 span {
    top: -50px;
    text-shadow: 2px 2px 0 #000;
    font-size: 40px;
  }
}

.about-ttl h2 span:after {
  position: absolute;
  width: 69vw;
  height: 3.5px;
  bottom: 0;
  left: 0;
  background: #111111;
  content: "";
  z-index: 10;
}

@media (max-width: 992px) {
  .about-ttl h2 span:after {
    width: 74vw;
  }
}

@media (max-width: 768px) {
  .about-ttl h2 span:after {
    width: 66vw;
  }
}

@media (max-width: 576px) {
  .about-ttl h2 span:after {
    width: 61vw;
  }
}

.about .profile-outer {
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .about .profile-outer {
    margin-bottom: 50px;
  }
}

.about .profile-outer .profile-list {
  width: 78%;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 28px;
  border: 2px solid black;
  -webkit-box-shadow: 50px 30px 0 black;
          box-shadow: 50px 30px 0 black;
}

@media (max-width: 1200px) {
  .about .profile-outer .profile-list {
    width: 80%;
    -webkit-box-shadow: 30px 15px 0 black;
            box-shadow: 30px 15px 0 black;
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .about .profile-outer .profile-list {
    width: 90%;
    font-size: 23px;
  }
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list {
    -webkit-box-shadow: 20px 10px 0 black;
            box-shadow: 20px 10px 0 black;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .about .profile-outer .profile-list {
    -webkit-box-shadow: 10px 5px 0 black;
            box-shadow: 10px 5px 0 black;
  }
}

.about .profile-outer .profile-list p {
  width: 90%;
  position: relative;
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list p {
    width: 90%;
  }
}

.about .profile-outer .profile-list p:nth-of-type(1) {
  margin: 0 auto 20px 2%;
}

.about .profile-outer .profile-list p:nth-of-type(2) {
  margin: 0 auto 20px 4%;
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list p:nth-of-type(2) {
    margin: 0 auto 20px 3%;
  }
}

.about .profile-outer .profile-list p:nth-of-type(3) {
  margin: 0 auto 20px 6%;
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list p:nth-of-type(3) {
    margin: 0 auto 20px 4%;
  }
}

.about .profile-outer .profile-list p:nth-of-type(4) {
  margin: 0 auto 20px 8%;
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list p:nth-of-type(4) {
    margin: 0 auto 20px 5%;
  }
}

.about .profile-outer .profile-list p:nth-of-type(5) {
  margin: 0 auto 20px 10%;
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list p:nth-of-type(5) {
    margin: 0 auto 20px 6%;
  }
}

.about .profile-outer .profile-list p:after {
  position: absolute;
  width: 97%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #111111;
  content: "";
}

@media (max-width: 768px) {
  .about .profile-outer .profile-list p:after {
    width: 100%;
  }
}
/*# sourceMappingURL=about.css.map */